# blacklist files/folders in the same directory as the .gitignore file
/*

# But not these files
!.gitignore
!.emacs
!.emacs-v1
!_vimrc
!vimfiles/
!README.txt
!profile-dotemacs.el
!.emacs.d/themes/zenburn-theme.el
!.emacs.d/themes/towombat.el
*~